<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo, <%= @eleitor.nome %></h1>
    <p>
      Voce foi cadastrado com sucesso.<br>
    </p>
    <p>
      Para entrar, clique no link: <%= @url %>.
    </p>
    <p>Obrigado!</p>
  </body>
</html>